.custom-node-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.node-icon {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.node-label {
  width: 150px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 25px;
  margin: 5px;
}

.node-placeholder {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50%;
}
