::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.app {
  position: relative;
  background-color: #eeeeee;
  min-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-size: calc(3px + 2vmin);
  color: rgb(37, 3, 3);
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

button {
  font-size: calc(3px + 2vmin);
}
