.app {
  position: relative;
  background-color: #eeeeee;
  min-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-size: calc(3px + 2vmin);
  color: rgb(37, 3, 3);
}

@media (min-width: 819px) {
  .app {
    justify-content: center;
  }
}
.App-link {
  color: #61dafb;
}

button {
  font-size: calc(3px + 2vmin);
}
