.container {
  position: relative;
  background-color: #deb9b9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(37, 3, 3);
}

.App-link {
  color: #61dafb;
}

button {
  font-size: calc(10px + 2vmin);
}
